In [2]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [11]:
data_train = pd.read_csv("data_train.csv", header=None, names=["device_id", "isWeekend", "date_hour", "isFirst10Days", "timeDelta"])

In [12]:
data_train.head()

             device_id  isWeekend  date_hour  isFirst10Days     timeDelta
0  4172466725848941608      False          6          False    848.908411
1  4172466725848941608      False          6          False  28513.038578
2  4172466725848941608      False         14          False    199.094384
3  4172466725848941608      False         14          False    185.775504
4  4172466725848941608      False         14          False    255.313251

In [13]:
data_test = pd.read_csv("data_test.csv", header=None, names=["device_id", "isWeekend", "date_hour", "isFirst10Days", "timeDelta"])

In [14]:
data_test.head()

             device_id  isWeekend  date_hour  isFirst10Days      timeDelta
0  2932617030932207332       True         20          False       5.683044
1  2932617030932207332       True         20          False  104871.617357
2  2932617030932207332      False          2          False      87.786292
3  2932617030932207332      False          2          False     220.280367
4  2932617030932207332      False          2          False     130.331401

In [15]:
X_train = data_train[['isWeekend',
       'date_hour', 'isFirst10Days']]
y_train = data_train['timeDelta']
X_test = data_test[['isWeekend',
       'date_hour', 'isFirst10Days']]
y_test = data_test['timeDelta']

In [16]:
clf = RandomForestRegressor()
#entreno el modeo
clf.fit(X_train, y_train)  
y_pred = clf.predict(X_test)

/home/lucasotero/.conda/envs/lucas/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [19]:
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
#132550146.39
#134283789.22

Mean squared error: 132550146.39