In [1]:
import pandas as pd

In [2]:
auctions = pd.read_csv("auctions.csv")

In [12]:
installs = pd.read_csv("installs.csv")

In [5]:
auctions = auctions[["date", "device_id"]]

In [7]:
auctions["is_install"] = False

In [13]:
installs.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN,4243443387795468703,3.301378e+18
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060930e+18
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.301378e+18
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18

In [14]:
installs = installs[["created", "ref_hash"]]

In [16]:
installs["is_install"] = True

In [26]:
installs = installs.rename(index=str,columns={"created": "date", "ref_hash": "device_id"})

In [27]:
installs.head()

                      date            device_id  is_install
0  2019-04-24 06:23:29.495  4716708407362582887        True
1  2019-04-24 02:06:01.032  7143568733100935872        True
2  2019-04-20 10:15:36.274  5230323462636548010        True
3  2019-04-20 21:56:47.151  5097163995161606833        True
4  2019-04-20 22:40:41.239  6328027616411983332        True

In [28]:
auctions.head()

                         date            device_id  is_install
0  2019-04-23 18:58:00.842116  2564673204772915246       False
1  2019-04-23 18:58:01.530771  4441121667607578179       False
2  2019-04-23 18:58:01.767562  7721769811471055264       False
3  2019-04-23 18:58:02.363468  6416039086842158968       False
4  2019-04-23 18:58:02.397559  1258642015983312729       False

In [32]:
concatenate_installs_auctions = pd.concat([installs, auctions])

In [35]:
ordered = concatenate_installs_auctions.sort_values(by=["device_id",'date'])

In [36]:
ordered.head()

                                date       device_id  is_install
46742        2019-04-21 19:17:47.657  40621409780134        True
36601349  2019-04-23 15:00:57.222979  40621409780134       False
398921       2019-04-18 21:11:50.326  41863526108385        True
249204       2019-04-18 21:11:51.966  41863526108385        True
112218       2019-04-18 21:17:11.946  41863526108385        True