In [2]:
import pandas as pd

In [3]:
auctions = pd.read_csv("auctions.csv.gzip",compression='gzip', nrows=10000)

In [5]:
auctions.head()

                         date            device_id  ref_type_id  source_id
0  2019-04-23 18:58:00.842116  2564673204772915246            1          0
1  2019-04-23 18:58:01.530771  4441121667607578179            7          0
2  2019-04-23 18:58:01.767562  7721769811471055264            1          0
3  2019-04-23 18:58:02.363468  6416039086842158968            1          0
4  2019-04-23 18:58:02.397559  1258642015983312729            1          0

In [17]:
#Agrupo por device_id, quedan los dates de apariciones en una lista
deviceIdDates = auctions.groupby(["device_id"])["date"].apply(list).to_frame().reset_index()

In [24]:
#Ordeno las fechas
deviceIdDates["date"] = deviceIdDates["date"].map(lambda x: sorted(x))

In [26]:
deviceIdDates.head()

          device_id                                               date
0   345999128501141                       [2019-04-23 22:12:40.773233]
1  1225728936010431                       [2019-04-23 22:20:52.562217]
2  1514121263285520                       [2019-04-23 22:05:05.068658]
3  2417786714126835  [2019-04-23 18:23:58.090164, 2019-04-23 21:49:...
4  4359205455891276                       [2019-04-23 18:21:18.802155]

In [58]:
#Función que resta una fecha de aparición con la que le sigue inmediatamente
def nextAppearanceTime( dateList ):
    distancias = []
    if(len(dateList) > 1):
        for x in range(len(dateList)):
            if(x + 1 < len(dateList)):
                distancias.append((pd.to_datetime(dateList[x + 1]) - pd.to_datetime(dateList[x])).total_seconds())
        
    return distancias

In [61]:
deviceIdDates["datesTimeDeltas"] = deviceIdDates["date"].map(lambda x: nextAppearanceTime(x))

In [62]:
deviceIdDates

,device_id,date,datesTimeDeltas
0,345999128501141,[2019-04-23 22:12:40.773233],[]
1,1225728936010431,[2019-04-23 22:20:52.562217],[]
2,1514121263285520,[2019-04-23 22:05:05.068658],[]
3,2417786714126835,"[2019-04-23 18:23:58.090164, 2019-04-23 21:49:...",[12316.627002]
4,4359205455891276,[2019-04-23 18:21:18.802155],[]
5,5133475695351500,[2019-04-23 22:04:46.477055],[]
6,6538197674209109,[2019-04-23 21:47:32.023700],[]
7,7554663982392633,[2019-04-23 19:47:55.057619],[]
8,9670626679734750,[2019-04-23 22:04:02.441563],[]
9,9900028008769217,"[2019-04-23 18:40:54.294053, 2019-04-23 18:41:...",[29.701978]
10,10954770305551958,"[2019-04-23 21:28:39.115846, 2019-04-23 21:28:...",[1.023894]
11,11908749216576385,[2019-04-23 22:07:57.994314],[]
12,14859100899963500,[2019-04-23 22:12:11.537837],[]
13,15149202854789583,"[2019-04-23 21:49:20.875357, 2019-04-23 21:51:...","[133.373639, 58.377786, 712.917588]"
14,15279365044634946,[2019-04-23 21:28:59.371243],[]
15,17107379078229231,[2019-04-23 21:24:59.489538],[]
16,17472988764473369,"[2019-04-23 19:48:15.229758, 2019-04-23 21:27:...","[5974.623301, 108.931994, 2501.579089, 23.648237]"
17,17793837704062652,[2019-04-23 20:59:22.630727],[]
18,17835387472424560,[2019-04-23 20:58:11.427849],[]
19,18847631647914059,[2019-04-23 20:56:01.190465],[]
20,21846023360706631,"[2019-04-23 18:23:32.210274, 2019-04-23 19:08:...","[2703.061918, 1.429711, 11002.496861]"
21,22717497471725022,[2019-04-23 21:23:23.669176],[]
22,22723474942993146,[2019-04-23 18:44:58.781139],[]
23,23463752032264026,"[2019-04-23 18:21:18.804077, 2019-04-23 18:22:...","[68.666179, 5247.360693, 4206.071698, 1720.987..."
24,25007221562885223,[2019-04-23 21:27:51.056570],[]
25,26913108294090682,[2019-04-23 21:29:37.585364],[]
26,27144204965860898,[2019-04-23 19:49:33.705780],[]
27,28286999817676496,[2019-04-23 22:15:12.172288],[]
28,29125178113676979,[2019-04-23 21:29:45.108957],[]
29,30208233531284574,"[2019-04-23 22:06:30.345310, 2019-04-23 22:13:...",[404.437946]
...,...,...,...
6716,9182173546943976210,[2019-04-23 19:46:36.144846],[]
6717,9182363851920651621,"[2019-04-23 18:39:15.374140, 2019-04-23 18:39:...","[37.775416, 9932.015249]"
6718,9184034664042723941,[2019-04-23 21:27:21.416498],[]
6719,9186719181697346448,[2019-04-23 19:46:35.193319],[]
6720,9187441307970481785,[2019-04-23 19:48:34.700985],[]
6721,9188844696554896500,[2019-04-23 21:51:24.427574],[]
6722,9189401803023022444,[2019-04-23 21:24:11.559569],[]
6723,9189790786168286353,[2019-04-23 19:50:15.699756],[]
6724,9189817783862377172,[2019-04-23 19:09:46.944524],[]
6725,9190399504251849431,[2019-04-23 22:04:08.896901],[]
6726,9190564984721442964,[2019-04-23 18:37:46.941569],[]
6727,9190846511206418287,"[2019-04-23 18:45:35.290874, 2019-04-23 18:47:...","[108.537825, 116.63572, 10.363922]"
6728,9191468026812932789,[2019-04-23 21:27:32.361392],[]
6729,9192201094697865163,[2019-04-23 21:00:12.524499],[]
6730,9193209778861044795,[2019-04-23 20:56:14.242414],[]
6731,9194305138003697619,"[2019-04-23 20:56:03.446682, 2019-04-23 21:52:...",[3369.759562]
6732,9196786384912298750,[2019-04-23 18:21:35.780645],[]
6733,9197941237685024876,[2019-04-23 21:51:17.221244],[]
6734,9201362656479380977,[2019-04-23 21:28:06.187034],[]
6735,9201371933501354203,[2019-04-23 19:21:44.166079],[]
6736,9205507390206506601,"[2019-04-23 19:46:31.728437, 2019-04-23 21:48:...",[7345.27259]
6737,9206883626570801607,[2019-04-23 21:28:17.233702],[]
6738,9207390749946396420,[2019-04-23 22:06:23.787942],[]
6739,9207692090474515019,"[2019-04-23 19:19:29.583640, 2019-04-23 21:22:...",[7353.840928]
6740,9209619586460965671,[2019-04-23 18:58:36.851861],[]
6741,9210140284258281634,[2019-04-23 21:21:53.619035],[]
6742,9210398002240705786,"[2019-04-23 20:58:40.124258, 2019-04-23 20:58:...","[3.885182, 34.009874]"
6743,9210852717644318308,[2019-04-23 22:20:36.401441],[]
6744,9210883324929291657,[2019-04-23 22:14:24.965973],[]
6745,9221213651041372291,[2019-04-23 19:20:21.043409],[]